<div>
    <h1 class="text-center">{{title}}</h1>
    <div class="card-body">
        <form ng-submit="addStudent()">
            <label for="" class=" form-label  ">Ho va ten </label>
            <input type="text"class=" form-control " ng-model="student.name">
             <div ng-if="kiemtra.name" class=""> vui lòng nhập tên </div>
            <label for="" class=" form-label  ">Nam sinh </label>
            <input type="text"class=" form-control "ng-model="student.year">
            <div ng-if="kiemtra.year" class=""> vui lòng nhập Năm sinh </div>
            <label for="" class=" form-label  ">Số điện thoại</label>
            <input type="text"class=" form-control "ng-model="student.coure">
            <div ng-if="kiemtra.coure" class=""> vui lòng nhập số điện thoại </div>
            <div>
                <button type="submit" class="btn btn-info  ">Thêm  </button>
                <button type="reset"class="btn btn-success ">Hủy</button>
             </div>
        </form>
        
    </div>
</div>