<h1 class="text-center ">GIỚI THIỆU KHÁCH SẠN </h1>
    <img src="/AS1WEB307/img/bn8.jpg" alt="">
    <div class="text-xl-center ">
        Khách sạn Reyna Luxury là thành viên tiếp theo của hệ thống khách sạn Reyna, được quản lý bởi tập đoàn
        22 Land.
        Khách sạn tọa lạc tại vị trí 34 Phố Miếu Đầm, phường Mễ Trì, Nam Từ Liêm, Hà Nội - Nơi trung tâm hành
        chính quan trọng của quốc gia. Tiếp giáp với nhiều vị trí quan trọng: cách sân bay Nội Bài 25km, cách
        Trung tâm hội nghị quốc gia 3 phút đi bộ, gần sân vận động Quốc gia Mỹ Đình chỉ vài phút lái xe, đối
        diện với khách sạn JW Marriott, quý khách có thể dễ dàng di chuyển đến các tòa nhà văn phòng cũng như
        các khu công nghiệp lớn ở Hà Nội. Với vị trí thuận tiện di chuyển đến các Khu công nghiệp lân cận,
        gần các tòa nhà văn phòng và trung tâm thương mại, khách sạn Reyna Luxury hứa hẹn sẽ trở thành
        điểm dừng chân, nghỉ ngơi lý tưởng cho những chuyến đi công tác hay du lịch của khách hàng trong nước
        và quốc tế.
    </div>