<div class="khachsan" style="width: 1300px;">
    <div style="width: 1300px;">
        <h1 class="text-center ">DỊCH VỤ </h1>
        <h3 class="text-center ">Hãy đến với chúng tôi bạn sẽ nhận được những dịch vụ và ưu đãi tốt nhất
        </h3>
        <div>
            <img src="/AS1WEB307/img/matxa.jpg" style="width: 1300px; " alt="">
            <h2 class="text-center ">DICH VỤ MÁT XA </h2>
            <h3 class="text-center "> Chúng tôi cung cấp dịch vụ mát-xa chất lượng cao,
                đặt lịch linh hoạt và cam kết cung cấp dịch vụ chăm sóc chất lượng.
                Cho dù bạn đang muốn tìm cảm giác cân bằng và yên bình hay giảm đau,
                chúng tôi đều có thể đáp ứng nhu cầu trị liệu xoa bóp của bạn. </h3>

        </div>
    </div>

</div>