<div class="khachsan" style="width: 1300px;">
    <div style="width: 1300px;">
        <h1 class="text-center ">DỊCH VỤ </h1>
        <h3 class="text-center ">Hãy đến với chúng tôi bạn sẽ nhận được những dịch vụ và ưu đãi tốt nhất
        </h3>
        <div>
                <img src="/AS1WEB307/img/nhahang.jpg" style="width: 1300px; " alt="">
                <h2 class="text-center ">NHÀ HÀNG </h2>
                <h3 class="text-center "> Nhà hàng  Hà Nội phục vụ tiệc buffet quốc tế vào buổi sáng và A la carte suốt cả ngày. Nhà hàng của chúng tôi mang đến
                     những trải nghiệm ẩm thực đáng nhớ thông qua các hương vị mang bản sắc quốc tế và địa phương.</h3>
            
        </div>
    </div>

</div>