<div class="khachsan" style="width: 1300px;">
    <div style="width: 1300px;">
        <h1 class="text-center ">DỊCH VỤ </h1>
        <h3 class="text-center ">Hãy đến với chúng tôi bạn sẽ nhận được những dịch vụ và ưu đãi tốt nhất
        </h3>
        <div>
                <img src="/AS1WEB307/img/phonggym.jpg" style="width: 1300px; " alt="">
                <h2 class="text-center ">DICH VỤ MÁT XA </h2>
                <h3 class="text-center ">  Tiện nghi cho khách hàng có nhu cầu rèn luyện sức khỏe ,tập thể dục ,thể tao</h3>
            
        </div>
    </div>

</div>