<div class="khachsan" style="width: 1300px;">
  <h1 class="text-center ">PHÒNG KHÁCH SẠN </h1>
  <h3 class="text-center ">Hãy nhanh tay để đặt phòng </h3>
  <div class=" row">
    <div class="col-sm-4   ">
      <img src="/AS1WEB307/img/phongdon.jpg" style="width:420px ; height: 400px;" alt="">
      <h3 class="text-center "> 2.000.000 vnđ</h3>
      <p class="text-center "> Phòng thiết kế hài hòa ,nội thất sang trọng tiện nghi đầy đủ. quý khách có thể ngắm toàn cảnh xung quanh </p>
      <button style="margin-left: 180px;" type="button" class="btn btn-primary   " data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Đặt phòng
      </button>
    </div>
    <div class="col-sm-4  ">
      <img src="/AS1WEB307/img/phongdoi.jpg " style="width:420px ; height: 400px;" alt="">
      <h3 class="text-center "> 3.500.000 vnđ</h3>
      <p class="text-center "> Phòng rộng có tầm nhìn bao quát,có diện tích khá rộng tạo sự thoải mãi cho quý khách .nội thất độc đáo sang  trọng  </p>
      <button style="margin-left: 160px;" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Đặt phòng
      </button>
    </div>
    <div class="col-sm-4  ">
      <img src="/AS1WEB307/img/canho.jpg" style="width:420px ; height: 400px;" alt="">
      <h3 class="text-center "> 5.000.000 vnđ</h3>
      <p class="text-center "> Phòng rộng có tầm nhìn bao quát,có diện tích khá rộng tạo sự thoải mãi cho quý khách .nội thất độc đáo sang  trọng  </p>
      <button style="margin-left: 160px;" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Đặt phòng
      </button>
    </div>
  </div>
    <br>
    <br>
</div>