<div class="khachsan" style="width: 1300px;">
  <h1 class="text-center ">PHÒNG KHÁCH SẠN </h1>
  <h3 class="text-center ">Hãy nhanh tay để đặt phòng </h3>
  <div class=" row">
    <div class="col-sm-4   ">
      <img src="/AS1WEB307/img/phongdon.jpg" style="width:420px ; height: 400px;" alt="">
      <h3 class="text-center "> 2.000.000 vnđ</h3>
      <p class="text-center "> Phòng thiết kế hài hòa ,nội thất sang trọng tiện nghi đầy đủ. quý khách có thể ngắm
        toàn cảnh xung quanh </p>
      <a href="#!/them">
        <button style="margin-left: 180px;" type="button" class="btn btn-primary   ">
          Đặt phòng
        </button>
      </a>
    </div>
    <div class="col-sm-4  ">
      <img src="/AS1WEB307/img/phongdoi.jpg " style="width:420px ; height: 400px;" alt="">
      <h3 class="text-center "> 3.500.000 vnđ</h3>
      <p class="text-center "> Phòng rộng có tầm nhìn bao quát,có diện tích khá rộng tạo sự thoải mãi cho quý
        khách .nội thất độc đáo sang trọng </p>
        <a href="#!/them">
          <button style="margin-left: 180px;" type="button" class="btn btn-primary   ">
            Đặt phòng
          </button>
        </a>
    </div>
    <div class="col-sm-4  ">
      <img src="/AS1WEB307/img/canho.jpg" style="width:420px ; height: 400px;" alt="">
      <h3 class="text-center "> 5.000.000 vnđ</h3>
      <p class="text-center "> Phòng rộng có tầm nhìn bao quát,có diện tích khá rộng tạo sự thoải mãi cho quý
        khách .nội thất độc đáo sang trọng </p>
        <a href="#!/them">
          <button style="margin-left: 180px;" type="button" class="btn btn-primary   ">
            Đặt phòng
          </button>
        </a>
    </div>
  </div>
  <br>
  <br>

  <div style="width: 1300px;">
    <h1 class="text-center ">DỊCH VỤ </h1>
    <h3 class="text-center ">Hãy đến với chúng tôi bạn sẽ nhận được những dịch vụ và ưu đãi tốt nhất</h3>
    <div class=" row">
      <div class="col-sm-4 ">
        <img src="/AS1WEB307/img/nhahang.jpg" style="width:420px ; height: 400px;" alt="">
        <h2 class="text-center ">NHÀ HÀNG </h2>
        <p class="text-center "> Nhà hàng Hà Nội phục vụ tiệc buffet quốc tế vào buổi sáng và A la carte suốt cả
          ngày. Nhà hàng của
          chúng tôi mang đến những trải nghiệm ẩm thực đáng nhớ thông qua các hương vị mang bản sắc quốc tế và địa
          phương. </p>


      </div>
      <div class="col-sm-4  ">
        <img src="/AS1WEB307/img/matxa.jpg" style="width:420px ; height: 400px;" alt="">
        <h2 class="text-center ">DỊCH VỤ MÁT XA</h2>
        <p class="text-center ">Chúng tôi cung cấp dịch vụ mát-xa chất lượng cao, đặt lịch linh hoạt và cam kết
          cung cấp dịch vụ chăm
          sóc chất lượng. Cho dù bạn đang muốn tìm cảm giác cân bằng và yên bình hay giảm đau, chúng tôi đều có
          thể đáp ứng nhu cầu trị liệu xoa bóp của bạn. </p>

      </div>
      <div class="col-sm-4 ">
        <img src="/AS1WEB307/img/phonggym.jpg" style="width:420px ; height: 400px;" alt="">
        <h2 class="text-center ">PHÒNG GYM </h2>
        <p class="text-center "> Tiện nghi cho khách hàng có nhu cầu rèn luyện sức khỏe ,tập thể dục ,thể tao </p>

      </div>
    </div>
  </div>

</div>